@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #6366f1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}